:root {
    --text: #04221e;
    --background: #f0fdfd;
    --primary: #1fe4ce;
    --secondary: #7fc8f0;
    --accent: #4c91ea;
}

@font-face {
    font-family: roboto;
    src: url(../assets/fonts/roboto/Roboto-VariableFont_wdth,wght.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--background);
    font-family: roboto;
    color: var(--text);
}

